@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Thin.ttf')
}

*{
  font-family: 'Roboto', monospace;
}
  body{
    display: flex;
    height: 100vh;
    justify-content:center;
    align-items: center;
    text-align: center;

    color: #ffffff;
    background: linear-gradient(to right, rgb(44, 62, 80), rgb(52, 152, 219));


  }
